In [1]:
import numpy as np
import pandas as pd
import cv2
import PIL
import pytesseract

In [3]:
img_cv = cv2.imread('image/000.jpg')

cv2.waitKey(0)
cv2.destroyAllWindows()

In [4]:
text_cv = pytesseract.image_to_string(img_cv)

In [5]:
print(text_cv)

CORPORATE PACKAGING & PROMOTIONS

Bill of Lading

To
Consignee — SAM'S DIST.CTR #6493

Street 1000 S. CUCAMONGA AVE



BILL OF LADING NUMBER: 8175105
PO#
BILL DATE:
FROM

AR50 CORPORATE PACKAGING



Shipper





Destination







City/State/Zip ONTARIO, CA 91761







THIRD PARTY BILLING, SEND TO

Name Arizona Beverages LLC
C

ompany Arizona Beverages LLC
Street

City/State/Zip

Street 1555 S. ARCHIBALD AVENUE
Origin
City/State/Zip ONTARIO, CA 91761






Special Instructions: —T
~~ SHIPPER'S INSTRUCTIONS \







NO.
SHIPPING
CASES

NO.
SHIPPING
PALLETS

DESCRIPTION OF ARTICLES |! !
SPECIAL MARKS & EXCEPTIONS: ) .-y)).::





UNNI

Equip 'D: 317 7
Equip Arivat: 12/20/19 0459
Carrier: BAWB °
Seal: 3289785

REMIT C.0.D.

ADDRESS:
Reseal:
Door/Zone:
Del Date:

APPOINTMENT
12/20/19 0500

' have read and understan
Appointment / Drop Rules

NOTE: W here the rate is depende
on value, shippers are required to
State specifically in writing the agre
or declared value of the Property. 7
agreed or declared value of the Driver Signature:
Property is hereby specifically state

by the shipper to be not exceeding | || ll | IH | |
$
fic.

per

RECEIVED Subject to the classi

good order, except as noted (conte Delivery; 94060718
(the word carrier being understooc

agrees to carry to its usual place

destination. It is mutually agreed ¢

Party at any time interested in all ¢

and conditions in the governing cl

and conditions in the

and Regulations

id the posted Copy of Wal-Mart's: LY



Status:
Tempt:
Temp2:

= PREPAID
COLLECT
Temp3:

Fuel Lvl:7 25
Dept: SPLT
Type: 537

CHARGES $

Freight Charges
are collect
unless market
prepaid

CHECK BOX IF
PREPAID



' described above in apparent
‘ated above which said carrier
2 property under the contract)
‘ Carrier on the route to said
to destination and as to each
tto all the Bill of Lading terms
ith all the Bill of Lading terms

In [6]:
data = pytesseract.image_to_data(img_cv)

In [7]:
#data.split('\n')
dataList = list(map(lambda x: x.split('\t'),data.split('\n')))
df = pd.DataFrame(dataList[1:],columns=dataList[0])

In [8]:
df.head()

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,1653,2339,-1,
1,2,1,1,0,0,0,188,234,541,27,-1,
2,3,1,1,1,0,0,188,234,541,27,-1,
3,4,1,1,1,1,0,188,234,541,27,-1,
4,5,1,1,1,1,1,188,234,160,27,96,CORPORATE

In [9]:
df.dropna(inplace=True) # drop the missing in rows
col_int = ['level','page_num','block_num','par_num','line_num','word_num','left','top','width','height','conf']
df[col_int] = df[col_int].astype(int)

In [10]:
df.dtypes

level         int64
page_num      int64
block_num     int64
par_num       int64
line_num      int64
word_num      int64
left          int64
top           int64
width         int64
height        int64
conf          int64
text         object
dtype: object

In [11]:
image = img_cv.copy()
level = 'word'
for l,x,y,w,h,c,txt in df[['level','left','top','width','height','conf','text']].values:
    #print(l,x,y,w,h,c)
    if level == 'page':
        if l == 1:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,0,0),2)
        else:
            continue
            
    elif level == 'block':
        if l == 2:
            cv2.rectangle(image,(x,y),(x+w,y+h),(255,0,0),2)
        else:
            continue
    
    elif level == 'para':
        if l == 3:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,255,0),2)
        else:
            continue
    
    elif level == 'line':
        if l == 4:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,0,255),2)
        else:
            continue
            
    elif level == 'word':
        if l == 5:
            cv2.rectangle(image,(x,y),(x+w,y+h),(0,255,0),2)
            cv2.putText(image,txt,(x,y),cv2.FONT_HERSHEY_PLAIN,1,(255,0,0),2)
        else:
            continue
            
cv2.imshow("",image)
cv2.waitKey()
cv2.destroyAllWindows()