In [1]:
import numpy as np
import pandas as pd
import string
import re

In [2]:
with open('invoice.txt',mode='r',encoding='utf8',errors='ignore') as f:
    text = f.read()

In [3]:
text

'id\ttext\ttag\n000.jpg\tCORPORATE\tO\n000.jpg\tPACKAGING\tO\n000.jpg\t&\tO\n000.jpg\tPROMOTIONS\tO\n000.jpg\tBill\tO\n000.jpg\tof\tO\n000.jpg\tLading\tO\n000.jpg\tTo\tO\n000.jpg\tConsignee\tO\n000.jpg\t—\tO\n000.jpg\tSAM\'S\tB-CUSTOMER_NAME\n000.jpg\tDIST.CTR\tI-CUSTOMER_NAME\n000.jpg\t#6493\tI-CUSTOMER_NAME\n000.jpg\tStreet\tB-CUSTOMER_ADDRESS\n000.jpg\t1000\tI-CUSTOMER_ADDRESS\n000.jpg\tS.\tI-CUSTOMER_ADDRESS\n000.jpg\tCUCAMONGA\tI-CUSTOMER_ADDRESS\n000.jpg\tAVE\tI-CUSTOMER_ADDRESS\n000.jpg\t  \tO\n000.jpg\t  \tO\n000.jpg\tBILL\tB-INVOICE_NO\n000.jpg\tOF\tI-INVOICE_NO\n000.jpg\tLADING\tI-INVOICE_NO\n000.jpg\tNUMBER:\tI-INVOICE_NO\n000.jpg\t8175105\tI-INVOICE_NO\n000.jpg\tPO#\tO\n000.jpg\tBILL\tO\n000.jpg\tDATE:\tO\n000.jpg\tFROM\tO\n000.jpg\tAR50\tB-COMPANY_NAME\n000.jpg\tCORPORATE\tI-COMPANY_NAME\n000.jpg\tPACKAGING\tI-COMPANY_NAME\n000.jpg\t   \tO\n000.jpg\tShipper\tO\n000.jpg\t  \tO\n000.jpg\t \tO\n000.jpg\t    \tO\n000.jpg\t \tO\n000.jpg\tDestination\tO\n000.jpg\t \tO\n000.jpg\t \tO\n000.jpg\t  \tO\n000.jpg\t  \tO\n000.jpg\t \tO\n000.jpg\tCity/State/Zip\tO\n000.jpg\t"ONTARIO,"\tB-CITY\n000.jpg\tCA\tI-CITY\n000.jpg\t91761\tI-CITY\n000.jpg\t \tO\n000.jpg\t \tO\n000.jpg\t \tO\n000.jpg\t  \tO\n000.jpg\t \tO\n000.jpg\tTHIRD\tO\n000.jpg\tPARTY\tO\n000.jpg\t"BILLING,"\tO\n000.jpg\tSEND\tO\n000.jpg\tTO\tO\n000.jpg\tName\tO\n000.jpg\tArizona\tO\n000.jpg\tBeverages\tO\n000.jpg\tLLC\tO\n000.jpg\tC\tO\n000.jpg\tompany\tO\n000.jpg\tArizona\tO\n000.jpg\tBeverages\tO\n000.jpg\tLLC\tO\n000.jpg\tStreet\tO\n000.jpg\tCity/State/Zip\tO\n000.jpg\tStreet\tB-COMPANY_ADDRESS\n000.jpg\t1555\tI-COMPANY_ADDRESS\n000.jpg\tS.\tI-COMPANY_ADDRESS\n000.jpg\tARCHIBALD\tI-COMPANY_ADDRESS\n000.jpg\tAVENUE\tI-COMPANY_ADDRESS\n000.jpg\tOrigin\tO\n000.jpg\tCity/State/Zip\tB-CITY\n000.jpg\t"ONTARIO,"\tI-CITY\n000.jpg\tCA\tI-CITY\n000.jpg\t91761\tI-CITY\n000.jpg\t \tO\n000.jpg\t   \tO\n000.jpg\t  \tO\n000.jpg\t \tO\n000.jpg\tSpecial\tO\n000.jpg\tInstructions:\tO\n000.jpg\tSHIPPER\'S\tO\n000.jpg\tINSTRUCTIONS\tO\n000.jpg\t\\\tO\n000.jpg\t \tO\n000.jpg\t  \tO\n000.jpg\t \tO\n000.jpg\t \tO\n000.jpg\tNO.\tO\n000.jpg\tSHIPPING\tO\n000.jpg\tCASES\tO\n000.jpg\tNO.\tO\n000.jpg\tSHIPPING\tO\n000.jpg\tPALLETS\tO\n000.jpg\tDESCRIPTION\tO\n000.jpg\tOF\tO\n000.jpg\tARTICLES\tO\n000.jpg\t!\tO\n000.jpg\tSPECIAL\tO\n000.jpg\tMARKS\tO\n000.jpg\t&\tO\n000.jpg\tEXCEPTIONS:\tO\n000.jpg\t \tO\n000.jpg\t \tO\n000.jpg\tEquip\tO\n000.jpg\t317\tO\n000.jpg\t7\tO\n000.jpg\tEquip\tO\n000.jpg\tArivat:\tO\n000.jpg\t12/20/19\tO\n000.jpg\t459\tO\n000.jpg\tCarrier:\tO\n000.jpg\tBAWB\tO\n000.jpg\t°\tO\n000.jpg\tSeal:\tO\n000.jpg\t3289785\tO\n000.jpg\tREMIT\tO\n000.jpg\tC.0.D.\tO\n000.jpg\tADDRESS:\tO\n000.jpg\tReseal:\tO\n000.jpg\tDoor/Zone:\tO\n000.jpg\tDel\tO\n000.jpg\tDate:\tO\n000.jpg\tAPPOINTMENT\tO\n000.jpg\t12/20/19\tO\n000.jpg\t500\tO\n000.jpg\t\'\tO\n000.jpg\thave\tO\n000.jpg\tread\tO\n000.jpg\tand\tO\n000.jpg\tunderstan\tO\n000.jpg\tAppointment\tO\n000.jpg\t/\tO\n000.jpg\tDrop\tO\n000.jpg\tRules\tO\n000.jpg\tNOTE:\tO\n000.jpg\tW\tO\n000.jpg\there\tO\n000.jpg\tthe\tO\n000.jpg\trate\tO\n000.jpg\tis\tO\n000.jpg\tdepende\tO\n000.jpg\ton\tO\n000.jpg\t"value,"\tO\n000.jpg\tshippers\tO\n000.jpg\tare\tO\n000.jpg\trequired\tO\n000.jpg\tto\tO\n000.jpg\tState\tO\n000.jpg\tspecifically\tO\n000.jpg\tin\tO\n000.jpg\twriting\tO\n000.jpg\tthe\tO\n000.jpg\tagre\tO\n000.jpg\tor\tO\n000.jpg\tdeclared\tO\n000.jpg\tvalue\tO\n000.jpg\tof\tO\n000.jpg\tthe\tO\n000.jpg\tProperty.\tO\n000.jpg\t7\tO\n000.jpg\tagreed\tO\n000.jpg\tor\tO\n000.jpg\tdeclared\tO\n000.jpg\tvalue\tO\n000.jpg\tof\tO\n000.jpg\tthe\tO\n000.jpg\tDriver\tO\n000.jpg\tSignature:\tO\n000.jpg\tProperty\tO\n000.jpg\tis\tO\n000.jpg\thereby\tO\n000.jpg\tspecifically\tO\n000.jpg\tstate\tO\n000.jpg\tby\tO\n000.jpg\tthe\tO\n000.jpg\tshipper\tO\n000.jpg\tto\tO\n000.jpg\tbe\tO\n000.jpg\tnot\tO\n000.jpg\texceeding\tO\n000.jpg\t|\tO\n000.jpg\t||\tO\n000.jpg\t|\tO\n000.jpg\t|\tO\n000.jpg\t|\tO\n000.jpg\t$\tO\n000.jpg\tfic.\tO\n000.jpg\tper\tO\n000.jpg\tRECEIVED\tO\n000.jpg\tSubject\tO\n000.jpg\tto\tO\n000.jpg\tthe\tO\n000.jpg\tclassi\tO\n000.jpg\tgood\tO\n000.jpg\t"order,"\tO\n000.jpg\texcept\tO\n000.jpg\tas\tO\n000.jpg\tnoted\tO\n000.jpg\t(conte\tO\n000.jpg\tDelivery\tO\n000.jpg\t94060718\tO\n000.jpg\t(the\tO\n000.jpg\tword\tO\n000.jpg\tcarrier\tO\n000.jpg\tbeing\tO\n000.jpg\tunderstooc\tO\n000.jpg\tagrees\tO\n000.jpg\tto\tO\n000.jpg\tcarry\tO\n000.jpg\tto\tO\n000.jpg\tits\tO\n000.jpg\tusual\tO\n000.jpg\tplace\tO\n000.jpg\tdestination.\tO\n000.jpg\tIt\tO\n000.jpg\tis\tO\n000.jpg\tmutually\tO\n000.jpg\tagreed\tO\n000.jpg\t¢\tO\n000.jpg\tParty\tO\n000.jpg\tat\tO\n000.jpg\tany\tO\n000.jpg\ttime\tO\n000.jpg\tinterested\tO\n000.jpg\tin\tO\n000.jpg\tall\tO\n000.jpg\t¢\tO\n000.jpg\tand\tO\n000.jpg\tconditions\tO\n000.jpg\tin\tO\n000.jpg\tthe\tO\n000.jpg\tgoverning\tO\n000.jpg\tcl\tO\n000.jpg\tand\tO\n000.jpg\tconditions\tO\n000.jpg\tin\tO\n000.jpg\tthe\tO\n000.jpg\tand\tO\n000.jpg\tRegulations\tO\n000.jpg\tid\tO\n000.jpg\tthe\tO\n000.jpg\tposted\tO\n000.jpg\tCopy\tO\n000.jpg\tof\tO\n000.jpg\tWal-Mart\'s:\tO\n000.jpg\tLY\tO\n000.jpg\t \tO\n000.jpg\tStatus:\tO\n000.jpg\tTempt:\tO\n000.jpg\tTemp2:\tO\n000.jpg\tPREPAID\tO\n000.jpg\tCOLLECT\tO\n000.jpg\tTemp3:\tO\n000.jpg\tFuel\tO\n000.jpg\tLvl:7\tO\n000.jpg\t25\tO\n000.jpg\tDept:\tO\n000.jpg\tSPLT\tO\n000.jpg\tType:\tO\n000.jpg\t537\tO\n000.jpg\tCHARGES\tO\n000.jpg\t$\tO\n000.jpg\tFreight\tO\n000.jpg\tCharges\tO\n000.jpg\tare\tO\n000.jpg\tcollect\tO\n000.jpg\tunless\tO\n000.jpg\tmarket\tO\n000.jpg\tprepaid\tO\n000.jpg\tCHECK\tO\n000.jpg\tBOX\tO\n000.jpg\tIF\tO\n000.jpg\tPREPAID\tO\n000.jpg\t \tO\n000.jpg\t\'\tO\n000.jpg\tdescribed\tO\n000.jpg\tabove\tO\n000.jpg\tin\tO\n000.jpg\tapparent\tO\n000.jpg\t‘ated\tO\n000.jpg\tabove\tO\n000.jpg\twhich\tO\n000.jpg\tsaid\tO\n000.jpg\tcarrier\tO\n000.jpg\t2\tO\n000.jpg\tproperty\tO\n000.jpg\tunder\tO\n000.jpg\tthe\tO\n000.jpg\tcontract)\tO\n000.jpg\tCarrier\tO\n000.jpg\ton\tO\n000.jpg\tthe\tO\n000.jpg\troute\tO\n000.jpg\tto\tO\n000.jpg\tsaid\tO\n000.jpg\tto\tO\n000.jpg\tdestination\tO\n000.jpg\tand\tO\n000.jpg\tas\tO\n000.jpg\tto\tO\n000.jpg\teach\tO\n000.jpg\ttto\tO\n000.jpg\tall\tO\n000.jpg\tthe\tO\n000.jpg\tBill\tO\n000.jpg\tof\tO\n000.jpg\tLading\tO\n000.jpg\tterms\tO\n000.jpg\tith\tO\n000.jpg\tall\tO\n000.jpg\tthe\tO\n000.jpg\tBill\tO\n000.jpg\tof\tO\n000.jpg\tLading\tO\n000.jpg\tterms\tO\n'

In [4]:
data = list(map(lambda x:x.split('\t'),text.split('\n')))

In [5]:
df = pd.DataFrame(data[1:],columns=data[0])

In [6]:
df.head(10)

        id        text tag
0  000.jpg   CORPORATE   O
1  000.jpg   PACKAGING   O
2  000.jpg           &   O
3  000.jpg  PROMOTIONS   O
4  000.jpg        Bill   O
5  000.jpg          of   O
6  000.jpg      Lading   O
7  000.jpg          To   O
8  000.jpg   Consignee   O
9  000.jpg           —   O

In [7]:
whitespace = string.whitespace
punctuation = "!#$%&\'()*+:;<=>?[\\]^`{|}~"
tableWhitespace = str.maketrans('','',whitespace)
tablePunctuation = str.maketrans('','',punctuation)
def cleanText(txt):
    text = str(txt)
    text = text.lower()
    removewhitespace = text.translate(tableWhitespace)
    removepunctuation = removewhitespace.translate(tablePunctuation)
    
    return str(removepunctuation)

In [8]:
df['text'] = df['text'].apply(cleanText)

In [9]:
dataClean = df.query("text != '' ")
dataClean.dropna(inplace=True)

/tmp/ipykernel_3741/3379659824.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClean.dropna(inplace=True)

In [10]:
dataClean.head(10)

         id        text              tag
0   000.jpg   corporate                O
1   000.jpg   packaging                O
3   000.jpg  promotions                O
4   000.jpg        bill                O
5   000.jpg          of                O
6   000.jpg      lading                O
7   000.jpg          to                O
8   000.jpg   consignee                O
9   000.jpg           —                O
10  000.jpg        sams  B-CUSTOMER_NAME

In [12]:
group = dataClean.groupby(by='id')

In [13]:
cards = group.groups.keys()

In [15]:
allCardsData = []
for card in cards:
    cardData = []
    grouparray = group.get_group(card)[['text','tag']].values
    content = ''
    annotations = {'entities':[]}
    start = 0
    end = 0
    for text, label in grouparray:
        text = str(text)
        stringLength = len(text) + 1

        start = end
        end = start + stringLength

        if label != 'O':
            annot = (start,end-1,label)
            annotations['entities'].append(annot)

        content = content + text + ' '
        
        
    cardData = (content,annotations)
    allCardsData.append(cardData)

In [16]:
allCardsData

[('corporate packaging promotions bill of lading to consignee — sams dist.ctr 6493 street 1000 s. cucamonga ave bill of lading number 8175105 po bill date from ar50 corporate packaging shipper destination city/state/zip "ontario," ca 91761 third party "billing," send to name arizona beverages llc c ompany arizona beverages llc street city/state/zip street 1555 s. archibald avenue origin city/state/zip "ontario," ca 91761 special instructions shippers instructions no. shipping cases no. shipping pallets description of articles special marks exceptions equip 317 7 equip arivat 12/20/19 459 carrier bawb ° seal 3289785 remit c.0.d. address reseal door/zone del date appointment 12/20/19 500 have read and understan appointment / drop rules note w here the rate is depende on "value," shippers are required to state specifically in writing the agre or declared value of the property. 7 agreed or declared value of the driver signature property is hereby specifically state by the shipper to be not exceeding fic. per received subject to the classi good "order," except as noted conte delivery 94060718 the word carrier being understooc agrees to carry to its usual place destination. it is mutually agreed ¢ party at any time interested in all ¢ and conditions in the governing cl and conditions in the and regulations id the posted copy of wal-marts ly status tempt temp2 prepaid collect temp3 fuel lvl7 25 dept splt type 537 charges freight charges are collect unless market prepaid check box if prepaid described above in apparent ‘ated above which said carrier 2 property under the contract carrier on the route to said to destination and as to each tto all the bill of lading terms ith all the bill of lading terms ',
  {'entities': [(61, 65, 'B-CUSTOMER_NAME'),
    (66, 74, 'I-CUSTOMER_NAME'),
    (75, 79, 'I-CUSTOMER_NAME'),
    (80, 86, 'B-CUSTOMER_ADDRESS'),
    (87, 91, 'I-CUSTOMER_ADDRESS'),
    (92, 94, 'I-CUSTOMER_ADDRESS'),
    (95, 104, 'I-CUSTOMER_ADDRESS'),
    (105, 108, 'I-CUSTOMER_ADDRESS'),
    (109, 113, 'B-INVOICE_NO'),
    (114, 116, 'I-INVOICE_NO'),
    (117, 123, 'I-INVOICE_NO'),
    (124, 130, 'I-INVOICE_NO'),
    (131, 138, 'I-INVOICE_NO'),
    (157, 161, 'B-COMPANY_NAME'),
    (162, 171, 'I-COMPANY_NAME'),
    (172, 181, 'I-COMPANY_NAME'),
    (217, 227, 'B-CITY'),
    (228, 230, 'I-CITY'),
    (231, 236, 'I-CITY'),
    (348, 354, 'B-COMPANY_ADDRESS'),
    (355, 359, 'I-COMPANY_ADDRESS'),
    (360, 362, 'I-COMPANY_ADDRESS'),
    (363, 372, 'I-COMPANY_ADDRESS'),
    (373, 379, 'I-COMPANY_ADDRESS'),
    (387, 401, 'B-CITY'),
    (402, 412, 'I-CITY'),
    (413, 415, 'I-CITY'),
    (416, 421, 'I-CITY')]})]

In [17]:
import random

In [18]:
random.shuffle(allCardsData)

In [19]:
len(allCardsData)

1

In [20]:
TrainData = allCardsData[:1]
TestData = allCardsData[1:]

In [21]:
import pickle

In [22]:
pickle.dump(TrainData,open('./data/TrainData.pickle',mode='wb'))
pickle.dump(TestData,open('./data/TestData.pickle',mode='wb'))